.mission {
  object-fit: cover;
  height: 500px;
  text-align: center;
}

.misvis {
  color: #18a518;
  font-size: 24px;
  font-weight: bold;
  padding-top: 100px;
}

.missionsub {
  font-size: 14px;
  color: #a9dda9;
  padding-top: 30px;
}
